{% import _self as navs %}

<header class="main-header">
  <div class="main-header__inner container-xl">
    <div class="nav-logo">
      <a href="{{ path('<front>') }}">
        <img src="{{ directory }}/images/logo.png" alt="Site Logo">
      </a>
      <div class="hamburger" id="hamburger">
        <img src="{{ directory }}/images/hamburger.svg" alt="Menu">
      </div>
    </div>



    <nav class="nav-container" id="main-nav">
      {{ navs.nav_links(items, attributes, 0) }}
    </nav>
  </div>
</header>

{% macro nav_links(items, attributes, nav_level) %}
  {% import _self as navs %}
  {% if items %}
    {% if nav_level == 0 %}
      <ul{{ attributes.addClass('nav main-nav') }}>
    {% else %}
      <ul class="nav">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'nav-item',
          item.is_expanded ? 'nav-item--expanded',
          item.is_collapsed ? 'nav-item--collapsed',
          item.in_active_trail ? 'nav-item--active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ navs.nav_links(item.below, attributes, nav_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
