<a href="{{ button_url }}">
  <div class="card">
    <div class="card-top">
      <img src="{{ image_url }}" alt="{{ title|e }}" />
    </div>
    <div class="card-bottom">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <a href="{{ button_url }}" class="button">{{ button_text }}</a>
    </div>
  </div>
</a>
