<div class="info-block">
  <div class="info-block__content">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <div class="info-block__sub-content">
    <div class="info-block__info">
      <h3>{{ subtitle1 }}</h3>
      <p>{{ subdescription1 }}</p>
    </div>
    <div class="info-block__info">
      <h3>{{ subtitle2 }}</h3>
      <p>{{ subdescription2 }}</p>
    </div>
    </div>
  </div>
  <div class="info-block__image">
    <img src="{{ image_url }}" alt="Description image">
  </div>
</div>
